<script>
    function sendEmail() {
        // Fixed typo in the domain format
        window.location.href = "mailto:vibhutitiwary748@gmail.com";
    }
</script>

<div style="background-color: black; width: 100%; height: 500px; padding-top: 80px; margin-top: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3">
                <h3 class="text-white">Contact Us</h3>
                <p style="color: yellow; font-size: 18px"><i class="fa fa-map-marker text-danger"></i> Kankarbagh House Main Road Lohia Nagar Sampatchak, Patna Bihar 800020</p>
                <p style="color: yellow; font-size: 18px"><i class="fa fa-envelope text-danger"></i> vibhutitiwary748@gmail.com </p>
                <p style="color: yellow; font-size: 18px"><i class="fa fa-phone text-danger"></i> +91 911 330 1648 / +91 748 885 7897</p>
                <p style="color: yellow; font-size: 18px"><i class="fa fa-globe text-danger"></i> www.jobsjust4u.com</p>
            </div>

            <div class="col-md-4 mt-3">
                <h3 class="text-white">About Us</h3>
                <p style="color: yellow; font-size: 18px">We at JobsJust4U aim to connect our users to the top recruiting industrial companies by providing the right information at the right time. All the information shared by us is done through verified and trusted resources.</p>
            </div>

            <div class="col-md-4 mt-3">
                <h3 class="text-white">Newsletter</h3>
                <p style="color: yellow; font-size: 18px">If any additional information is required, send us your email ID.</p>
                <div class="form-inline">
                    <input type="email" id="newsletterEmail" placeholder="Email ID" required class="form-control mr-2">
                    <button type="button" onclick="sendEmail()" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

        <div class="row" style="align-items: center; margin-top:100px; color: grey;">
            <div class="col-12">
                <p>All rights reserved <i class="fa fa-copyright" aria-hidden="true"></i> 2023</p>
            </div>
        </div>
    </div>
</div>
